./.cph
./.vscode
./.replit
./.breakpoints
./1176E_Cover_it.exe
./a.exe
./a.out
./input.txt
./hell.txt
./poetry.lock
./range
./codeforces/.cph
./codeforces/a.out
./codeforces/n
./codeforces/input.txt
./codeforces/k
./codeforces/p[i]
./codeforces/tc
